body {
    display: grid;
    place-content: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  .countlikes {
    place-content: center;
  
    gap: 20px;
    place-content: center;
    text-align: center;
  }
  
  .counter {
    display: flex;
    /* justify-content: space-evenly; */
    gap: 20px;
  }
  
  .like-btn,
  .dislike-btn {
    border: 0;
    font-size: large;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: white;
  }
  