


.add-receipe-container {
  background-image: url("https://img.freepik.com/premium-vector/vector-graphic-gradient-abstract-background-design-template_635272-24.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}
.add-receipe-form {
     display: grid;
  
     border: 2px solid #ccc; 
    padding: 20px;
    border-radius: 5px; 
    background-color: transparent; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  
    
     width: 50%;
    
  margin: 0 auto;
  }

 
  h1 {
    color:#09134b;
    text-align: center;
  }
  

 
