<div class="background-container">
  <form [formGroup]="searchForm" class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Search recipe</mat-label>
      <mat-icon matPrefix>search</mat-icon>
      <input
        formControlName="search"
        type="search"
        matInput
        placeholder="Ex. Sushi Rolls"
        list="search_list"
      />

      <datalist id="search_list" *ngIf="searchForm.get('search')?.value !== ''">
        <option
          class="options"
          *ngFor="let rc of receipes"
          value="{{ rc.receipeName }}"
        >
          {{ rc.receipeName }}
        </option>
      </datalist>
      <!-- <button
        matSuffix
        mat-icon-button
        *ngIf="
          searchForm.get('search')?.value !== null &&
          searchForm.get('search')?.value !== ''
        "
        (click)="clearSearch()"
      >
        <mat-icon>close</mat-icon>
      </button> -->
    </mat-form-field>

    <mat-form-field>
      <mat-label>Sort By</mat-label>
      <mat-select (selectionChange)="onSortChange($event)">
        <mat-option value="recipeName">Name</mat-option>
        <mat-option value="rating">Rating</mat-option>
        <mat-option value="uploadedDate">uploadedDate</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Order</mat-label>
      <mat-select (selectionChange)="onOrderChange($event)">
        <mat-option value="asc">Ascending</mat-option>
        <mat-option value="desc">Descending</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <section
    class="receipe"
    appInfiniteScroll
    apiEndpoint
    [pageSize]="4"
    [searchTerm]="searchTerm"
    (items)="onNewItems($event)"
    (loading)="onLoadingChange($event)"
    class="receipe-list-container"
  >
    <div class="receipe-card">
      <app-receipe
        *ngFor="let rc of receipes"
        [receipe]="rc"
        (removeReceipe)="loadReceipesData()"
      >
      </app-receipe>
    </div>
    <div class="spinner-container" *ngIf="isLoading">
      <mat-spinner></mat-spinner>
    </div>
  </section>
</div>
