<!-- <header>
  <nav>
    <mat-toolbar color="primary">
      <button mat-button routerLink="/">Home</button>

      <button mat-button routerLink="/receipes">Receipes</button>
      <button mat-button [routerLink]="['/add']"></button>Add Receipe</button>
    </mat-toolbar>
  </nav>
</header>

<router-outlet></router-outlet>

<footer></footer> -->

<header>
  <nav>
    <mat-toolbar color="primary">
      <button mat-button routerLink="/">Home</button>
      <button mat-button routerLink="/receipes">Receipes</button>
      <button mat-button routerLink="/receipes/add">Add Receipe</button>
    </mat-toolbar>
  </nav>
</header>

<router-outlet></router-outlet>

<footer></footer>
