<!-- <div class="Welcome container">
  <h1>WELCOME TO RECIPE MANAGEMENT SYSTEM</h1>
</div>

<button class="button" mat-raised-button color="primary" routerLink="/receipes">
  <mat-icon
    aria-hidden="false"
    aria-label="Example home icon"
    fontIcon="trending_flat"
  ></mat-icon>
  {{ "Click Here" | uppercase }}
</button> -->

<div class="welcome-container background-image">
  <marquee
    ><h1 class="Welcome">WELCOME TO RECIPE MANAGEMENT SYSTEM</h1></marquee
  >

  <button
    class="button"
    mat-raised-button
    color="primary"
    routerLink="/receipes"
  >
    <mat-icon
      aria-hidden="false"
      aria-label="Example home icon"
      fontIcon="trending_flat"
    ></mat-icon>
    {{ "Click Here" | uppercase }}
  </button>
</div>
