/* Base styles for all screen sizes */
.receipe-video-container {
  background-image: url("https://i.gifer.com/B4IS.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-color: brown;
}

.receipeVlogCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  max-width: 930px;
  margin: 0 auto;
  box-sizing: border-box;
  width: 80%;
}

.video-container {
  width: 100%;
  max-width: 930px;
  overflow: hidden;
  background-position: center;
}

.receipecontent {
  width: 100%;
  padding: 16px;
  background-color: black;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-top: 16px;
  box-sizing: border-box;
}

.receipe-ingredients-container {
  display: flex;
}

.name {
  font-weight: 900;
}

/* Media query for mobile screens (up to 576px width) */
@media (max-width: 576px) {
  .receipe-video-container {
      background-size: cover;
      padding: 10px;
  }

  .receipeVlogCard {
      width: 100%;
  }

  .video-container iframe {
      width: 100%;
      height: auto;
  }

  .receipecontent {
      padding: 8px;
  }
}

/* Media query for tablet screens (577px to 992px width) */
@media (min-width: 577px) and (max-width: 992px) {
  .receipeVlogCard {
      max-width: 80%;
  }
}

/* Media query for laptop screens (greater than 992px width) */
@media (min-width: 993px) {
  .receipeVlogCard {
      max-width: 930px;
  }
}